[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
src = {editable = true, path = "./src"}
aiohttp = "*"
certifi = "*"
gremlinpython = "*"
requests = "*"
pandas = "*"

[requires]
python_version = "3.11"
