aenum==3.1.15
aiohttp==3.9.3
aiosignal==1.3.1
attrs==23.2.0
certifi==2024.2.2
frozenlist==1.4.1
gremlinpython==3.7.1
idna==3.6
isodate==0.6.1
multidict==6.0.5
nest-asyncio==1.6.0
six==1.16.0
-e git+https://github.com/nbtrieu/amplify-neptune.git@6ee792248cd6f9d9f57a5411c53cb995ac0a2e0f#egg=src&subdirectory=amplify/backend/function/getGraphData/src
yarl==1.9.4
