[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"
pandas = "*"
aenum = "*"
aiohttp = "*"
aiosignal = "*"
attr = "*"
attrs = "*"
async-timeout = "*"
certifi = "*"
frozenlist = "*"
gremlinpython = "*"
idna = "*"
isodate = "*"
multidict = "*"
nest-asyncio = "*"
numpy = "*"
six = "*"
yarl = "*"

[requires]
python_version = "3.11"
