body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

/* ResultsTable */
.results-container {
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  margin: 20px 50px 30px 50px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.results-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 0px 50px;
  color: #6b6a6a;
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #FFFFFF;
}

.table-container {
  max-height: 650px;
  overflow: auto;
  background-color: #FFFFFF;
}

.table-header th {
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  z-index: 1;
  color: #6b6a6a;
  border-bottom: 1px solid #E0E0E0;
  background-color: #FFFFFF;
}

.table-row {
  margin-bottom: 2px;
  position: relative;
}

.table-row::after {
  content: '';
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 0;
  /* border-bottom: 1px solid #E0E0E0; */
}

.table-row:nth-child(odd) {
  background-color: #f9f9f9; /* Light gray for odd rows */
}

.table-row:nth-child(even) {
  background-color: #ffffff; /* White for even rows */
}

.table-cell {
  padding: 10px 50px;
  text-align: left;
  color: #000000;
}

.csv-button-container {
  /* Add any specific styles for the container of CsvButton if needed */
}

.button {
  background-color: #6FC2A9;
  border: none;
  border-radius: 20%;
  padding: 5px;
  cursor: pointer;
  outline: none;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.button:hover {
  background-color: #5eb89a;
}

/* .areas-of-interest {
  width: 1000px !important;
} */

.table-cell-name { min-width: 20%; }
.table-cell-email { min-width: 20%; }
.table-cell-phone { min-width: 10%; }
.table-cell-title { min-width: 15%; }
.table-cell-organization { min-width: 15%; }
.table-cell-mailing-address { min-width: 15%; }
.table-cell-areas-of-interest { min-width: 50%; }
.table-cell-lead-source { min-width: 10%; }
.table-cell-event-name { min-width: 10%; }


/* NavBar */
.navbar {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 20px 50px;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); */
  justify-content: flex-start;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #51565E;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.nav-items {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  color: #51565E;
  margin-right: 20px;
}

.nav-item {
  margin: 0 10px;
  cursor: pointer;
  color: #51565E;
}

.active-nav-item {
  color: #0F9D58;
}

.profile-button {
  background-color: #A2DFC1;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}

/* SearchBox */
.searchbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px 0px 20px;
  margin: auto;
  width: 50%;
}

.searchbox-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.searchbox-description {
  font-size: 18px;
  color: #51565E;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;
}

.searchbox-select-input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border-color: #E0E0E0;
  border-radius: 4px;
  width: 43%;
  box-sizing: border-box;
}

.search-button {
  padding: 5px;
  font-size: 16px;
  background-color: #7dafff;
  color: #A2DFC1;
  border: none;
  /* border: solid 1px #4285F4; */
  border-radius: 4px;
  cursor: pointer;
}
