body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

/* ResultsTable */
.results-container {
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  margin: 20px 50px 30px 50px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.results-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 0px 50px;
  color: #000000;
  border-bottom: none;
}

.table-container {
  max-height: 650px;
  overflow: auto;
  background-color: #FFFFFF;
}

.table-header th {
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  z-index: 1;
  color: #828282;
}

.table-row {
  margin-bottom: 2px;
  position: relative;
}

.table-row::after {
  content: '';
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 0;
  border-bottom: 1px solid #E0E0E0;
}

.table-cell {
  padding: 10px 50px;
  text-align: left;
  color: #000000;
}

.csv-button-container {
  /* Add any specific styles for the container of CsvButton if needed */
}

/* NavBar */
.navbar {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); */
  justify-content: flex-start;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #51565E;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.nav-items {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  color: #51565E;
  margin-right: 20px;
}

.nav-item {
  margin: 0 10px;
  cursor: pointer;
  color: #51565E;
}

.active-nav-item {
  color: #0F9D58;
}

.profile-button {
  background-color: #A2DFC1;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}

/* KeywordSearchBox */
.keyword-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px 0px 20px;
  margin: auto;
  width: 50%;
}

.keyword-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.keyword-description {
  font-size: 18px;
  color: #51565E;
  margin-bottom: 20px;
}

.keyword-search-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;
}

.keyword-select-input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border-color: #E0E0E0;
  border-radius: 4px;
  width: 43%;
  box-sizing: border-box;
}

.keyword-submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000;
  color: #A2DFC1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
